body {
    background-color: #000; 
    color: #fff; 
    margin: 0; 
    font-family: Arial, sans-serif; 
}
nav {
    background-color: #666; 
    color: #fff; 
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #666; 
    color: #fff;
}
.btn-agregar {
    background-color: #3ddc35;
    color: #fff; 
}
.btn-modificar {
    background-color: #a79f28; 
    color: #fff; 
}
.btn-eliminar {
    background-color: #dc3545;
    color: #fff;    
}

th, td {
    border: 2px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
}

tr:hover {
    background-color: #555;
}

td a {
    text-decoration: none;
    color: #ffcc00;
}

td a:hover {
    color: #ff9900;
    font-weight: bold;
}
.custom-img {
    width: 100px; 
    height: auto; 
}