body {
    background-color: #1f1c1c;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    height: 350px;
    padding: 25px;
    background-color: #414142;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container h2 {
    margin-top: 15px;
    text-align: center;
    color: #ffffff; 
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: 200px;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000000; 
}

.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #08c32a;
    border: none;
    color: #ffffff; 
    border-radius: 10px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff; 
    text-align: left; 
}


.container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #b80f0f; 
    border: none;
    color: #ffffff; 
    border-radius: 10px;
    cursor: pointer;
}

.container button[type="submit"]:hover {
    background-color: #0056b3; 
}